.postPage{
    background-color: rgb(255,246,239);
    background-attachment: fixed;
}


.postTitle p{
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: sans-serif;
    padding-top: 10px;
}




.post{
    margin-top: 20px;
}



.post_img{
    background-color: white;
    background-attachment: fixed;
}
.post_img img{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    background-attachment: fixed;
   
   
}



.post_content{
    margin-top: 15px;
    padding: 15px;
    
}
.post_content b{
    color: rgba(0, 0, 0, 0.486);
    font-weight: 600;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.post_content h2{
    margin-top: 15px;
    font-weight: 600;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.836);
    text-decoration: none;

}

.post_content h2:hover{
    color: coral;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}


.h2Link:hover{
    text-decoration: none;
}




.avatarAndCateroies{
    
    padding: 15px; 
    display: flex;
}
.avatarAndCateroies img{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.avatarAndCateroies b{
    margin-left: 8px;
    color: rgba(14, 15, 15, 0.514)
;
}

.author{
    margin-left: 5px;
}
.author:hover{
    color: coral;
    cursor: pointer;
}


.avBtn{
    padding: 1px 17px;
    border: none;
    color: rgba(0, 0, 0, 0.438);
    background-color: rgba(255, 127, 80, 0.082);
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
    border-radius: 2px;

}
.avBtn:hover{
    background-color: rgba(255, 127, 80, 0.753);
    color: white;
    transition: 0.1s;
}









/* single post for  */


.singlePost{
background-color: rgba(250, 235, 215, 0.527);
padding-top: 100px;
margin-top: -90px;
}

.header{
    padding: 0px 100px;
  
    
}
.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
}

.avatarAndCateroies{
    margin-top: 20px;
    margin-bottom: 20px;
}


.headerImg img{
    width: 100%;
}

.fristContent{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
}
.fristContent b{
    color: rgba(0, 0, 0, 0.61);
    font-weight: 500;
    padding-top: 50px;
    line-height: 30px;
}

.fristContent h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}

.fristContent img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lastinPost{
    margin-top: 30px;
}
.lastinPost b{
    margin-right: 20px;
}
.lastinPost button{
    border: none;
    background-color: white;
    padding: 6px 19px;
    margin-left: 5px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.589);
    
}
.lastinPost button:hover{
    color: rgba(255, 127, 80, 0.658);
}


@media screen and (max-width:1020px) {

    .header{
        padding: 0px;
    }
    .header h1{
        font-size: 33px;
    }
    .avatarAndCateroies{
        display: block;
    }
    .avatarAndCateroies b{display: inline;
        margin-left: 10px;
    }
}